<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Sobre a disciplina</h2>

  <p>
    A disciplina de Desenvolvimento de Aplicativos Mobile tem como objetivo ensinar, na prática, como criar aplicativos para celular. Ao longo das aulas, aprendemos conceitos importantes como interface, navegação e usabilidade, além de utilizar ferramentas modernas como o Ionic. A ideia é desenvolver aplicações simples, mas funcionais, que possam rodar no navegador ou em dispositivos móveis, ajudando a entender como funciona o desenvolvimento mobile na prática.





  </p>

  <ion-button expand="full" routerLink="/home">
    Voltar
  </ion-button>

</ion-content>