ion-content.pagina-home {
  --background: #000;
}

.container-home {
  width: 92%;
  max-width: 390px;
  margin: 25px auto 0 auto;   /* posição geral na tela */
  text-align: center;
  color: white;
}

/* FOTO */
img {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 12px auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.35);
}

/* NOME PRINCIPAL */
h1 {
  font-size: 27px;
  font-weight: 700;
  margin: 0 0 10px 0;
  line-height: 1.2;
}

/* DADOS */
p {
  font-size: 19px;
  margin: 2px 0;
  line-height: 1.35;
}

/* TÍTULO PALAVRA CHAVE */
h2 {
  font-size: 22px;
  margin: 18px 0 8px 0;
  font-weight: 600;
}

/* RESULTADO */
h3 {
  font-size: 24px;
  margin: 12px 0 0 0;
  font-weight: bold;
}

/* INPUT */
ion-item {
  --background: #111;
  --color: white;
  border-radius: 12px;
  margin-top: 8px;
}

/* BOTÕES */
ion-button {
  margin-top: 12px;
  height: 46px;
  font-size: 17px;
  --border-radius: 12px;
}.container-home {
  border: 5px solid yellow;
}