<ion-header>
  <ion-toolbar>
    <ion-title>Cartão de Identificação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <img src="assets/foto.png" alt="Minha foto">

    <ion-card-header>
      <ion-card-title>Adriano Pacheco Werneck</ion-card-title>
      <ion-card-subtitle>
        Turma: ADS0301M | Unidade: Campo Grande CG1 | Turno: Manhã
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="full" routerLink="/sobre">
        Ver mais
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
